@model Egresados.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Egresados CECyT 19";
}

<div class="roww fondoTitulo mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white bg-secondary py-1">Noticias de UPIS</h1>
    </div>
</div>

@if (Model.ListaArticulos.Count() > 0) {
    <hr />
    <div class="row">
        @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
        {
            <div class="col-md-4">
                <div class="card mb-3 shadow" style="width: 20rem; height: 20rem;">
                    <div style="overflow: hidden; height: 10rem;">
                        <img src="@articulo.UrlImagen" class="card-img-top img-fluid" alt="@articulo.Nombre">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"> @articulo.Nombre </h5>
                        <a asp-action="Detalle" class="btn btn-outline-primary btn-sm d-block mx-auto" style="border-radius: 2px" asp-route-id="@articulo.Id">
                            Más Información...
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
} else {
    <p>No hay Artículos</p>
}
